

.header {
    height: 100px;
}

.screen {
    width: 300px;
    height: 100px;
    margin: 10px auto;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
}


.screen_output, .screen_input {
    font-size: 24px;
}

.screen_input {
    height: 60%;
    
}

.screen_output {
    height: 40%;
    text-align: right;
}

.btn_grid {
    width: 335px;
    margin: auto;
}

.main, button {
    border: 2px solid black;
    border-radius: 10px;
}

.main {
    width: 325px;
    padding: 10px 15px;
    margin: auto;
    background-color: rgb(118, 117, 117);
}

button {
    width: 70px;
    height: 60px;
    margin-right: 10px;
    font-size: 18px;
}

.btn_clear, .btn_delete {
    width: 46%;
}

.row {
    margin-bottom: 10px;
}

button:hover {
    background-color: rgb(209, 220, 199);
}